body{
background: #1e272e;
background-image: linear-gradient(141deg, #1e272e 0%, #2C3A47 51%, #1e272e 75%);
}
.Day_B{
box-shadow: 0px 5px 8px 2px #000000;
padding-left:20px;
font-size:40px;
text-align: center;
display:inline-block;
background-color:#c82333;
border-color:#bd2130;
padding-right:30px;
height:100px;
vertical-align: middle;
line-height: 100px;
}
.Date_B{
box-shadow: 0px 5px 8px 2px #000000;

font-size: 40px;
text-align: center;
display:inline-block;
position:absolute;
right:0;
padding-left:10px;

margin-right:0px;
padding-right:0px;
background-color:#c82333;
height:70px;
line-height: 70px;
}
.CurrentTime_B{
box-shadow: 5px 5px 8px 2px #000000;
font-size:35px;
text-align: center;
vertical-align: middle;
display:inline-block;
position:absolute;
line-height: 70px;
right:0;
margin-top:80px;
padding-right:210px;
padding-left:40px;
background-color:#c82333;
width:100px;
height:70px;
}
.AC_B{

font-size:370px;
text-align: center;
margin-top:100px;
/*
background-color:#c82333;
box-shadow: 10px 10px 10px 5px #000000;
padding: 0%;
margin-left: 42%;
margin-right: 42%;
*/
font-family:hackreg;
}
.AT_B{

font-size:50px;
text-align: center;
/*background-color:#c82333;
box-shadow: 10px 10px 10px 5px #000000;
*/
padding: 0.01%;
margin-left: 34%;
margin-right: 34%;
margin-bottom: 10%;
}

.TN_B{
box-shadow: 5px 10px 5px 8px #000000;
font-size:40px;
text-align: center;
display:block;
position:absolute;
bottom:0;
left:0;
background-color:#c82333;
height:60px;
width:100%;
vertical-align: middle;
line-height: 60px;
font-family: hackreg;
}

.colorinator{
color:#fff;
font-family: lolgothic;
}




@font-face {
font-family: 'hackreg';
src: url('hack-regular-webfont.woff2') format('woff2'),
url('hack-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}


@font-face {
font-family: 'hack';
src: url('hack-bold-webfont.woff2') format('woff2'),
url('hack-bold-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}
@font-face {
font-family: 'lolgothic';
src: url('LetterGothicStd.woff') format('woff');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'star_jediregular';
src: url('starjedi-webfont.woff2') format('woff2'),
url('starjedi-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}




@font-face {
font-family: 'lemonmilkregular';
src: url('lemonmilk-webfont.woff2') format('woff2'),
url('lemonmilk-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}


@font-face {
font-family: 'bebas';@font-face {
font-family: 'lemonmilkregular';
src: url('lemonmilk-webfont.woff2') format('woff2'),
   url('lemonmilk-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}
src: url('bebas.woff2') format('woff2'),
url('bebas.woff') format('woff');
font-weight: normal;
font-style: normal;


}
#hr{
display: inline;
}
#mn{
display: inline;
}
#sc{
display: inline;
}
