body{
background: #1e272f;
background-image: linear-gradient(141deg, #1e272e 0%, #2C3A47 51%, #1e272e 75%);
}
.PLACEHOLDERAWESOME{
position: relative;
display: block;
}
.Day_B{

box-shadow: 0px 5px 8px 2px #000000;
padding-left:20px;
font-size:40px;
text-align: center;
display:inline-block;
background-color:#c82333;
border-color:#bd2130;
padding-right:30px;
margin-left: 30px;
}
.Date_B{
box-shadow: 0px 5px 8px 2px #000000;
font-size: 36px;
text-align: center;
display:inline-block;
position:absolute;
right:0;
padding-left:20px;
background-color:#c82333;
height:50px;
line-height: 60px;
}
.CurrentTime_B{
box-shadow: 5px 5px 8px 2px #000000;
font-size:30px;
text-align: center;

display:block;
position:absolute;
right:0;
padding-top: 3px;
margin-top:10px;
background-color:#c82333;
width:215px;
}
.AC_B{

font-size:300px;
text-align: center;
position:relative;
margin-top:150px;
/*
background-color:#c82333;
box-shadow: 10px 10px 10px 5px #000000;
padding: 0%;
margin-left: 42%;
margin-right: 42%;
*/
font-family:hackreg;
}
.AT_B{
    

display: block;
font-size:50px;
text-align: center;
/*background-color:#c82333;
box-shadow: 10px 10px 10px 5px #000000;
*/
    
}

.TN_B{
box-shadow: 5px 10px 5px 8px #000000;
font-size:40px;
text-align: center;
display:block;
position:absolute;
margin-bottom: auto;
left:0;
background-color:#c82333;
height:60px;
width:100%;
line-height: 60px;
font-family: hackreg;
}

.colorinator{
color:#fff;
font-family: lolgothic;
}




@font-face {
font-family: 'hackreg';
src: url('./Assets/hack-regular-webfont.woff2') format('woff2'),
url('./Assets/hack-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}

@font-face {
font-family: 'lolgothic';
src: url('./Assets/LetterGothicStd.woff') format('woff');
font-weight: normal;
font-style: normal;

}


#hr{
display: inline;
}
#mn{
display: inline;
}
#sc{
display: inline;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}


